<mat-card fxLayout="column" class="container">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center" *ngIf="user$ | async as user">
    <img *ngIf="user.photoURL; else defaultProfileIcon" [src]="user.photoURL" />
    <ng-template #defaultProfileIcon>
      <img src="/assets/profile_default_icon.png" />
    </ng-template>
    <h3 *ngIf="user.displayName">{{ user.displayName }}</h3>
    <h4 *ngIf="user.email">{{ user.email }}</h4>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxFill>
      <div fxLayout="column" fxLayoutAlign="start start">
        <a mat-button *ngIf="!times" color="secondary" (click)="selectFile()">
          Importer des timbrages à partir d'un fichier csv
        </a>
        <a mat-button *ngIf="times" (click)="cancelImport()">Annuler l'import</a>

        <button mat-button (click)="exportAll()">Exporter tous les timbrages</button>

        <input #fileSelector type="file" (change)="fileSelected($event)" style="display: none" />
        <a #export style="display: none">hidden link</a>
      </div>

      <a mat-button href="mailto:timbrage@ifocusit.ch" target="_blank">Un problème ? Nous écrire.</a>
    </div>
  </mat-card-content>
</mat-card>
