<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <div id="month" fxFlex>
    <mat-toolbar color="primary" *ngIf="selectedDate$ | async as selectedDate">
      <span fxFlex="calc(100%-400px)">{{ selectedDate | moment: 'MMMM YYYY' }}</span>

      <lib-select-project defaultName=""></lib-select-project>
      <button mat-button *ngIf="selectedDate$ | async as selectedDate" [routerLink]="['/bill', selectedDate.format('YYYY-MM')]">
        Générer facture
      </button>
      <button mat-icon-button [routerLink]="['/profile']"><mat-icon>person</mat-icon></button>
    </mat-toolbar>

    <mat-table id="times" [dataSource]="items$" class="mat-elevation-z8 reports">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let time">{{ time.date | moment: 'DD dddd' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let time">{{ time.holiday ? 'congé' : '' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="100px">
          {{ time.duration | duration }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="decimal">
        <mat-header-cell *matHeaderCellDef>Total journalier</mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="100px">{{ time.duration?.asHours() | number: '2.2-2' }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['date', 'type', 'duration', 'decimal']"></mat-header-row>
      <mat-row
        *matRowDef="let day; columns: ['date', 'type', 'duration', 'decimal']"
        (click)="edit(day)"
        [ngClass]="{ weekend: day.isWeekend, error: day.isNotComplete, holiday: day.holiday, worked: day.hasTimes }"
      ></mat-row>
    </mat-table>
  </div>
  <div id="sums" fxFlex>
    <mat-card class="mat-elevation-z8 totals">
      <mat-card-title>Totaux</mat-card-title>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex id="workDays">{{ workDays$ | async }} jours ouvrés</div>
          <div fxFlex="45px" fxFlexAlign="start" id="total">{{ total$ | async | number: '.2-2' }}</div>
          <div fxFlex="200px">heures travaillées</div>
        </div>
        <div fxLayout="row">
          <div fxFlex>{{ maxMonthHours$ | async }} heures demandée</div>
          <div fxFlex="45px" fxFlexAlign="start" id="overtime" *ngIf="overtime$ | async as overtime" [ngClass]="{ negative: overtime < 0 }">
            {{ overtime | number: '.2-2' }}
          </div>
          <div fxFlex="200px">heure(s) supplémentaire(s)</div>
        </div>
        <div fxLayout="row">
          <div fxFlex></div>
          <div fxFlex="45px" fxFlexAlign="start" id="finalTotal">{{ finalTotal$ | async | number: '.2-2' }}</div>
          <div fxFlex="200px">heure(s) avec majoration</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
