mat-card {
  margin: 0 10px;
}

mat-toolbar {
  border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 959px) {
  mat-card {
    margin: 0;
    padding: 0;
  }
  
  #sums {
    padding: 10px 0;
  
    mat-card{
      padding: 10px;
    }
  }
}

@media screen and (max-width: 599px) {
  mat-card, mat-toolbar {
    border-radius: 0;
  }
}

mat-table.reports {

  mat-row {
    min-height: 26px;
    max-height: 26px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.5;

    &.weekend, &.holiday {
      background-color: #8e8e8e;
    }

    &.error {
      background-color: #f05545;
      opacity: 1;
    }

    &.worked {
      opacity: 1;
    }
  }
}

#total, #overtime, #finalTotal {
  text-align: end;
  padding-right: 4px;
}

.negative {
  color: #e64a19;
}

#overtime {
  font-weight: bold;
}

#finalTotal {
  color: #b71c1c;
  font-weight: bold;
}
