<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (template, title)">

<head>
    <title th:text="'Reporting ' + ${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" th:href="@{/css/core.css}"/>
    <link rel="stylesheet" th:href="@{/css/billing.css}"/>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div class="container">
    <div th:replace="${template}"/>
    <th:block th:replace="fragments/footer :: footer"/>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>