<div class="container">
  <header>
    <mat-toolbar
      color="primary"
      class="mat-elevation-z8"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <button
        *ngIf="profilePage()"
        mat-icon-button
        [routerLink]="['/timbrage']"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span *ngIf="profilePage()" fxFlex="1 1 auto">{{
        "profile.title" | translate
      }}</span>
      <!-- <span *ngIf="timbragePage()">Timbrage</span> -->
      <!-- <span *ngIf="calendarPage()">Calendrier</span> -->
      <span *ngIf="loginPage()">{{ "toolbar.connection" | translate }}</span>
      <lib-select-project
        [defaultName]="'timbrage.title' | translate"
        *ngIf="timbragePage()"
        fxFlex="calc(100%-80px)"
      ></lib-select-project>
      <lib-select-project
        [defaultName]="'calendar.title' | translate"
        *ngIf="calendarPage()"
        fxFlex="calc(100%-120px)"
      ></lib-select-project>
      <button
        mat-icon-button
        (click)="goToday()"
        *ngIf="calendarPage() || timbragePage()"
      >
        {{ "toolbar.goToday" | translate }}
      </button>
      <button mat-icon-button (click)="exportMonth()" *ngIf="calendarPage()">
        <mat-icon>get_app</mat-icon>
      </button>
      <a #export style="display: none">hidden link</a>
      <button
        *ngIf="!profilePage() && !loginPage()"
        mat-icon-button
        [routerLink]="['/profile']"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button *ngIf="profilePage()" mat-button (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <main class="content" role="main">
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="!profilePage() && !loginPage()">
    <mat-toolbar>
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.path"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
          replaceUrl="true"
          >{{ link.label | translate }}</a
        >
        <!-- <a mat-tab-link (click)="open('/timbrage')" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Timbrage</a> -->
        <!-- <a mat-tab-link (click)="open('/timbrage')" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Calendrier</a> -->
      </nav>
    </mat-toolbar>
  </footer>
</div>
