header, footer {
  z-index: 1;

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
  }
}

footer {
  mat-toolbar > * {
    width: 100%;

    .mat-tab-link,
    .mat-ink-bar {
      width: 100%;
    }
  }
}
