body {
    width: 210mm;
    height: 297mm;
    margin: auto;
}

@page {
    size: A4;
    /*margin: 0;*/
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

header {
    margin-bottom: 3em;
    overflow: hidden;
}

header .society {
    float: right;
}

header img {
    width: 7em;
}
