<div *ngIf="model$ | async as bill" fxLayout="column" fxLayoutAlign="stretch stretch" class="content">
  <header class="no-print">
    <mat-toolbar color="primary">
      <button mat-button [routerLink]="['/month', bill.month]"><mat-icon>arrow_back</mat-icon></button>

      <div fxFlex="1 1 auto">Facture {{ bill.month | moment: 'YYYY-MM' }}</div>
      <a mat-icon-button [href]="bill.billUrl" target="_blank" *ngIf="bill.archived"><mat-icon>picture_as_pdf</mat-icon></a>
      <button mat-icon-button (click)="print()" *ngIf="!bill.archived"><mat-icon>print</mat-icon></button>
      <button mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></button>
    </mat-toolbar>
  </header>

  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="bill">
    <div class="header" fxLayout="row-reverse" fxLayoutAlign="space-between stretch">
      <div class="society">
        <img id="logo" *ngIf="logo$ | async; let url" [src]="url" alt="Logo du projet" />
        <div>{{ bill.society }}</div>
      </div>
      <div class="correspondant">{{ bill.correspondant }}</div>
    </div>

    <h4>
      <span
        >Facture du mois de <span class="capitalize">{{ bill.month | moment: 'MMMM YYYY' }}</span></span
      >
    </h4>
    <h2 class="primary-color">Facture {{ bill.idFacture }}</h2>
    <div>n° TVA : {{ bill.tvaNumber }}</div>
    <table fxFlex="1 1 auto">
      <thead>
        <tr>
          <th></th>
          <th class="amount" colspan="2">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bill-content">
          <td>{{ bill.duration.asHours() | number: '2.2-2' }} heures</td>
          <td class="amount">{{ bill.amount | amount }}</td>
          <td class="currency">{{ bill.currency }}</td>
        </tr>
        <tr *ngFor="let line of lines$ | async" class="bill-content">
          <td fxLayout="row" fxLayoutAlign="space-between center" class="label">
            <mat-form-field>
              <input
                libDebounce
                matInput
                type="text"
                [(ngModel)]="line.label"
                (debounceEvent)="updateLine(line)"
                [disabled]="bill.archived"
              />
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="deleteLine(line)" class="no-print" *ngIf="!bill.archived">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
          <td class="amount">
            <mat-form-field>
              <input
                libDebounce
                matInput
                type="text"
                [(ngModel)]="line.amount"
                (debounceEvent)="updateLine(line)"
                [disabled]="bill.archived"
              />
            </mat-form-field>
          </td>
          <td class="currency">{{ bill.currency }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="subtotal">
          <td class="primary-border">Total Hors TVA</td>
          <td class="amount primary-border">{{ bill.totalHT | amount }}</td>
          <td class="currency primary-border">{{ bill.currency }}</td>
        </tr>
        <tr class="subtotal">
          <td>TVA {{ bill.tvaRate }}%</td>
          <td class="amount">{{ bill.totalTVA | amount }}</td>
          <td class="currency">{{ bill.currency }}</td>
        </tr>
        <tr class="total">
          <td>Total</td>
          <td class="amount">{{ bill.totalTTC | amount }}</td>
          <td class="currency">{{ bill.currency }}</td>
        </tr>
        <tr class="actions">
          <button mat-fab (click)="addLine()" class="no-print" *ngIf="!bill.archived"><mat-icon>add</mat-icon></button>
        </tr>
      </tfoot>
    </table>

    <div class="footer">
      <div>Paiement net à 30 jours auprès de:</div>
      <div>Compte postal {{ bill.account?.number }} {{ bill.currency }} / IBAN {{ bill.account?.iban }}</div>
    </div>
  </div>

  <div id="archiveBill" class="mat-form-field-wrapper no-print" *ngIf="!bill.archived">
    <h3>Archiver la facture :</h3>
    <lib-file-upload [upload]="archiveBill$"></lib-file-upload>
  </div>

  <div id="attachments" *ngIf="bill.archived">
    <h3>Pièces jointes à la facture :</h3>
    <mat-list>
      <mat-list-item *ngFor="let attachment of attachments$ | async">
        <mat-icon mat-list-icon>folder</mat-icon>
        <a [href]="attachment.url" target="_blank" mat-button fxFlex="1 1 auto">{{ attachment.name }}</a>
        <button mat-icon-button color="accent" (click)="deleteAttachment(attachment)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <lib-file-upload [upload]="addAttachment$" [thumbnail]="false"></lib-file-upload>
  </div>
</div>
