<mat-card fxLayout="column" class="container mat-elevation-z0">
  <mat-card-header fxFlex="200px" class="mat-elevation-z1 primary-bg" (swipeleft)="changeDay(+1)" (swiperight)="changeDay(-1)">
    <div *ngIf="now$ | async as now">
      <span id="date">
        <span>{{ now | moment: 'Do' }}</span>
        <span>
          <span class="capitalize">{{ now | moment: 'dddd' }}</span>
          <span id="month" class="accent-lighter-color capitalize">{{ now | moment: 'MMMM YYYY' }}</span>
        </span>
      </span>
      <span id="sumDay">
        <div>{{ 'timbrage.sumDay' | translate }}</div>
        <div>{{ sumDay$ | async | duration }}</div>
      </span>
      <div id="now">{{ now | moment: 'HH:mm:ss' }}</div>
      <div id="state">
        <div>
          <div>{{ 'timbrage.state.week' | translate }}</div>
          <div>{{ sumWeek$ | async | duration }}</div>
        </div>
        <div>
          <div>{{ 'timbrage.state.month' | translate }}</div>
          <div>{{ progess$ | async | duration }}</div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-actions>
    <button id="add" (click)="addTimbrage()" mat-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content class="scrollbar" (swipeleft)="openCalendar()" fxLayout="column">
    <app-time *ngFor="let time of times$ | async; let odd = odd" [model]="time" [odd]="odd"></app-time>
  </mat-card-content>
</mat-card>
