.header {
  height: 320px;
  min-height: 320px;
  max-height: 320px;
  background: url('/assets/profile-bg.jpg') 0 45% no-repeat;
  background-size: 100% auto;
  padding: 24px;
  color: #FFF;

  img {
    border-radius: 50%;
  }
}
