<mat-toolbar>
  <div fxFlex="calc(100%-168px)">
    Profile
  </div>
  <button mat-button (click)="signOut()">Logout</button>
</mat-toolbar>

<div class="header">
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="user$ | async as user">
    <img *ngIf="user.photoURL; else defaultProfileIcon" src="user.photoURL" />
    <ng-template #defaultProfileIcon>
      <img src="/assets/profile_default_icon.png" />
    </ng-template>
    <h3 *ngIf="user.displayName">{{ user.displayName }}</h3>
    <h4 *ngIf="user.email">{{ user.email }}</h4>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Calendrier">
    <div class="content">
      <button mat-button color="primary" [routerLink]="['/month', today]">Mois en cours {{ today }}</button>
    </div>
  </mat-tab>
  <mat-tab label="Configuration du projet" fxLayout="column">
    <div class="content" *ngIf="settings$ | async">
      <form [formGroup]="form">
        <mat-form-field>
          <input matInput placeholder="Nom du projet" formControlName="projectName" readonly />
        </mat-form-field>
        <div formGroupName="bill" fxLayout="column">
          <mat-form-field>
            <mat-select placeholder="Devise" formControlName="currency">
              <mat-option value="CHF">CHF</mat-option>
              <mat-option value="EUR">EUR</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Taux horaire" formControlName="hourlyRate" />
            <!-- <span matPrefix *ngIf="form.bill.currency.value == 'CHF'">CHF</span> -->
            <!-- <span matSuffix *ngIf="form.bill.currency.value == 'EUR'">€</span> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Taux de TVA" formControlName="tvaRate" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Numéro de TVA" formControlName="tvaNumber" />
          </mat-form-field>
          <div formGroupName="account" fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Numéro de compte" formControlName="number" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="IBAN" formControlName="iban" />
            </mat-form-field>
          </div>
          <div>
            <label>Image du logo :</label>
            <file-upload [downloadURL]="logo$" [upload]="uploadLogo$"></file-upload>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="save()">Enregistrer</button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
