<div *ngIf="settings$ | async as settings" fxLayout="column" fxLayoutAlign="space-between start" fxFill>
  <mat-toolbar color="primary">
    <div fxFlex="calc(100%-300px)">
      Profile
    </div>
    <lib-select-project></lib-select-project>
    <button mat-button (click)="signOut()">Logout</button>
  </mat-toolbar>

  <div class="content">
    <div class="header">
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="user$ | async as user">
        <img *ngIf="user.photoURL; else defaultProfileIcon" src="user.photoURL" />
        <ng-template #defaultProfileIcon>
          <img src="/assets/profile_default_icon.png" />
        </ng-template>
        <h3 *ngIf="user.displayName">{{ user.displayName }}</h3>
        <h4 *ngIf="user.email">{{ user.email }}</h4>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Calendrier">
        <div class="tab-content" fxLayout="row wrap">
          <div
            class="month accent-border"
            fxFlex="100px"
            *ngFor="let month of months$ | async"
            [class.primary-color]="month === today"
            [routerLink]="['/month', month]"
          >
            {{ month | moment: 'MMM' }}
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Configuration du projet" fxLayout="column">
        <div class="tab-content">
          <form [formGroup]="form">
            <lib-edit-project
              *ngIf="(user$ | async)?.isMultiProject"
              [projectName]="settings.project.name"
              [selectedTheme]="settings.project.theme"
              class="mat-form-field-wrapper"
            ></lib-edit-project>
            <div id="bill" formGroupName="bill" fxLayout="column">
              <mat-form-field>
                <mat-select placeholder="Devise" formControlName="currency">
                  <mat-option value="CHF">CHF</mat-option>
                  <mat-option value="EUR">EUR</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Taux horaire" formControlName="hourlyRate" />
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Taux de TVA" formControlName="tvaRate" />
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Numéro de TVA" formControlName="tvaNumber" />
              </mat-form-field>
              <div formGroupName="account" fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Numéro de compte" formControlName="number" />
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="IBAN" formControlName="iban" />
                </mat-form-field>
              </div>
              <div class="mat-form-field-wrapper">
                <mat-label>Image du logo :</mat-label>
                <lib-file-upload [downloadURL]="logo$" [upload]="uploadLogo$"></lib-file-upload>
              </div>
              <mat-form-field>
                <mat-label>Société :</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  formControlName="society"
                ></textarea>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Information destinataire :</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  formControlName="correspondant"
                ></textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="save()">Enregistrer</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <lib-copyright></lib-copyright>
</div>
