mat-table.reports {

  mat-row {
    min-height: 0px;
    max-height: 22px;
    font-size: 12px;
  }

  .week {
    background-color: lightgray;
  }

  .clickable {
    cursor: pointer;
    width: 3em;
    height: 1.4em;
  }
}

mat-card.totals {
  div[fxflexalign=end] {
    padding-right: 4px;
    text-align: end;
    font-weight: bold;
  }

  div#finalTotal {
    color: red;
  }
}
