li {
    list-style: none;
}

li span {
    display: table-cell;
    text-align: end;
    width: 100px;
    border: solid 1px;
    padding: 5px;
}

li.weekend span {
    background-color: lightgray;
}