<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <div fxFlex class="spaced">
        <mat-toolbar color="primary">
            <span id="month" class="max-space">{{month | moment: 'MMMM YYYY'}}</span>

            <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar>

        <mat-menu x-position="before" #menu="matMenu">
            <button mat-menu-item id="billing" (click)="billing()">Générer facture</button>
        </mat-menu>

        <mat-table id="times" [dataSource]="items" class="mat-elevation-z8 reports">

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell fxFlex="" *matCellDef="let time">{{ time.date | moment : 'DD dddd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let time" fxFlex="100px" (click)="edit(time)" class="clickable">
                    {{time.duration}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="decimal">
                <mat-header-cell *matHeaderCellDef>Total journalier</mat-header-cell>
                <mat-cell *matCellDef="let time" fxFlex="100px">{{ time.getDuration()?.asHours() | number: '2.2-2' }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['date', 'duration', 'decimal']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['date', 'duration', 'decimal'];"
                     [class.week]="!row.duration"></mat-row>
        </mat-table>
    </div>
    <div fxFlex class="spaced">
        <mat-card class="mat-elevation-z8 totals">
            <mat-card-title>Totaux</mat-card-title>
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex id="workDays">{{ workDays }} jours ouvrés</div>
                    <div fxFlex="50px" fxFlexAlign="end" id="total">{{ total | number: '.2-2' }}</div>
                    <div fxFlex="200px">heures</div>
                </div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <div fxFlex="50px" fxFlexAlign="end" id="overtime">{{ overtime | number: '.2-2' }}</div>
                    <div fxFlex="200px">heure(s) supplémentaire(s)</div>
                </div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <div fxFlex="50px" fxFlexAlign="end" id="finalTotal">{{ finalTotal | number: '.2-2' }}</div>
                    <div fxFlex="200px">heure(s) avec majoration</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
