<mat-card fxLayout="column" class="container mat-elevation-z0" *ngIf="selectedDate$ | async as selectedDate">
  <mat-card-header fxLayout="column" (swipeleft)="changeMonth(+1)" (swiperight)="changeMonth(-1)">
    <mat-toolbar id="month" color="primary">
      <button mat-icon-button (click)="changeMonth(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span fxFlex="1 1 auto">{{ selectedDate | moment: 'MMMM YYYY' }}</span>
      <button mat-icon-button (click)="changeMonth(+1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-toolbar>

    <div fxLayoutAlign="space-around center">
      <button mat-flat-button class="calendar-days" *ngFor="let weekDay of weekDays" fxLayoutAlign="center">
        {{ weekDay }}
      </button>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <button
        *ngFor="let day of days$ | async"
        mat-flat-button
        class="calendar-days"
        [class.lighter]="selectedDate.month() !== day.date.month()"
        [class.primary-lighter-border]="day.isHoliday"
        [class.accent-border]="day.hasTimes"
        [color]="selectedDate.format('YYYYMMDD') === day.date.format('YYYYMMDD') ? 'primary' : day.hasTimes ? 'accent' : ''"
        (click)="select(day.date)"
        fxFlex="13.6"
      >
        {{ day.date.date() }}
      </button>
    </div>
    <mat-toolbar id="current-day" fxLayoutGap="10px">
      <span class="day-sum">{{ sumDay$ | async | duration }}</span>
      <span fxFlex="1 1 auto" class="day-type">
        <span *ngIf="currentHoliday$ | async">{{ 'holidays.label' | translate }}</span>
      </span>
      <button (click)="addTimbrage()" mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="addTimbrages()" mat-mini-fab color="accent">
        <mat-icon>library_add</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content class="scrollbar" (swiperight)="openTimbrage()">
    <ifocusit-time *ngFor="let time of times$ | async; let odd = odd" [model]="time" [odd]="odd"></ifocusit-time>
  </mat-card-content>
</mat-card>
