mat-card {
  padding: 0;
}

#month {
  text-transform: uppercase;

  span {
    text-align: center;
  }
}

button.calendar-days {
  padding: 0;
  margin: 1px;
  line-height: 28px;
  border-radius: 0px;
  min-width: unset;

  &.lighter {
    opacity: 0.2;
  }

  &.accent-border,
  &.primary-lighter-border {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}

#current-day {
  & .day-sum {
    width: 25%;
  }

  & .day-type {
    font-variant: small-caps;
    font-style: italic;
  }
}
