.content {
  width: 100%;
  height: 100%;

  .header {
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    background: url('/assets/profile-bg.jpg') 0 45% no-repeat;
    background-size: 100% auto;
    color: #fff;

    & > div {
      padding-top: 10px;
    }

    img {
      border-radius: 50%;
      width: 180px;
    }
  }

  .tab-content {
    margin: 10px;
  }
}
