<mat-card fxLayout="column" class="mat-elevation-z0">
    <mat-card-header fxFlex="60" class="mat-elevation-z1">
        <mat-card-title id="sumDay">Total journalier: {{ sumDay }}</mat-card-title>
        <mat-card-subtitle id="date">{{ now | date: 'd EEEE MMMM yyyy' }}</mat-card-subtitle>
        <mat-card-subtitle id="now">{{ now | date: 'HH:mm:ss' }}</mat-card-subtitle>
        <mat-card-actions>
            <button id="add" (click)="addTimbrage()" mat-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content fxFlexFill fxLayout="column" *ngIf="times$ | async as times">
        <!--<ng-container *ngIf="listState.loading;else timeList">-->
            <!--<div>Loading</div>-->
        <!--</ng-container>-->
        <!--<ng-template #timeList>-->
            <app-time *ngFor="let time of times" [time]="time"></app-time>
        <!--</ng-template>-->
    </mat-card-content>
</mat-card>