mat-card {
  height: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  mat-card-header {
    margin-bottom: 2em;
    width: 100%;
  }

  mat-card-actions {
    position: absolute;
    right: 1em;
  }
}