:host {
  mat-card {
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: transparent;

    mat-card-header {
      padding: 20px;
      width: 100%;
      background-color: #606fc7;
      color: white;

      & > div {
        width: 100%;
      }

      #date,
      #sumDay {
        display: inline-block;
      }

      #date {
        & > span:nth-child(1) {
          font-size: 4em;
          padding-right: 0.2em;
        }
        span:nth-child(2) {
          display: inline-block;

          & > span:nth-child(1) {
            display: block;
            padding-bottom: 0.4em;
          }

          & > span:nth-child(2) {
            color: #e1bee7;
          }
        }
      }

      #sumDay {
        float: right;
        position: relative;

        & > div:nth-child(1) {
          text-align: end;
        }

        & > div:nth-child(2) {
          font-size: 2em;
        }
      }

      #sumWeek,
      #sumMonth {
        color: #e1bee7;
      }

      #now {
        font-size: 2em;
        padding: 1em 2em 0.2em 0.3em;

        @media screen and (max-width: 320px) {
          padding-left: 0;
        }
      }
    }

    mat-card-content {
      margin-bottom: 110px;

      & > div {
        padding-top: 12px;
      }
    }

    mat-card-actions {
      position: fixed;
      right: 20px;
      top: 218px;
      z-index: 1;
    }
  }

  ::ng-deep mat-card mat-card-header div.mat-card-header-text {
    margin: 0;
  }
}
