:host {
  mat-card {
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;

    mat-card-header {
      padding-top: 20px;
      margin-bottom: 2em;
      width: 100%;
    }

    mat-card-actions {
      position: absolute;
      right: 1em;
    }
  }
}
