<mat-card fxLayout="column" class="container" *ngIf="user$ | async as user">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <img *ngIf="user.photoURL; else defaultProfileIcon" [src]="user.photoURL" />
    <ng-template #defaultProfileIcon>
      <img src="/assets/profile_default_icon.png" />
    </ng-template>
    <h3 *ngIf="user.displayName">{{ user.displayName }}</h3>
    <h4 *ngIf="user.email">{{ user.email }}</h4>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxFill>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-button-toggle-group name="lang">
          <mat-button-toggle value="fr" [checked]="user.lang === 'fr'" (change)="setLang('fr')">FR</mat-button-toggle>
          <mat-button-toggle value="en" [checked]="user.lang === 'en'" (change)="setLang('en')">EN</mat-button-toggle>
        </mat-button-toggle-group>

        <a mat-button *ngIf="!times" color="secondary" (click)="selectFile()">
          {{ 'profile.import.launch' | translate }}
        </a>
        <a mat-button *ngIf="times" (click)="cancelImport()">{{ 'profile.import.cancel' | translate }}</a>

        <button mat-button (click)="exportAll()">{{ 'profile.export' | translate }}</button>
        <input #fileSelector type="file" (change)="fileSelected($event)" style="display: none;" />

        <button mat-button (click)="openAdmin()">{{ 'profile.openAdmin' | translate }}</button>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <a mat-button href="mailto:timbrage@ifocusit.ch" target="_blank">{{ 'profile.contact.message' | translate }}</a>
        <a mat-button href="mailto:timbrage@ifocusit.ch" target="_blank">{{ 'profile.contact.email' | translate }}</a>
        <lib-copyright></lib-copyright>
      </div>
    </div>
  </mat-card-content>
</mat-card>
