<div
  class="content"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  *ngIf="settings$ | async as settings"
  (swipeleft)="changeMonth(+1)"
  (swiperight)="changeMonth(-1)"
>
  <div id="month" fxFlex>
    <mat-toolbar color="primary" *ngIf="selectedDate$ | async as selectedDate">
      <span fxFlex="calc(100%-220px)">{{ selectedDate | moment: 'MMMM YYYY' }}</span>

      <lib-select-project defaultName=""></lib-select-project>
      <button (click)="exportMonth()" mat-icon-button>
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-icon-button *ngIf="selectedDate$ | async as selectedDate" [routerLink]="['/bill', selectedDate.format('YYYY-MM')]">
        <mat-icon>receipt</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></button>
    </mat-toolbar>

    <mat-table id="times" [dataSource]="items$" class="mat-elevation-z8 reports">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="110px">{{ time.date | moment: 'DD dddd' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="auto" class="holiday">
          <span>{{ time.isHoliday ? 'congé' : '' }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="80px">
          {{ time.duration | duration }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="decimal">
        <mat-header-cell *matHeaderCellDef>Total journalier</mat-header-cell>
        <mat-cell *matCellDef="let time" fxFlex="80px">{{ time.duration?.asHours() | number: '2.2-2' }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['date', 'type', 'duration', 'decimal']"></mat-header-row>
      <mat-row
        *matRowDef="let day; columns: ['date', 'type', 'duration', 'decimal']"
        (click)="edit(day)"
        [ngClass]="{ weekend: day.isWeekend, error: day.isNotComplete, holiday: day.isHoliday, worked: day.hasTime }"
      ></mat-row>
    </mat-table>
  </div>
  <div id="sums" fxFlex>
    <mat-card class="mat-elevation-z8 totals">
      <mat-card-title>
        <span fxFlex="calc(100%-40px)">Totaux</span>
        <button mat-icon-button (click)="toggleTotalsFormat()"><mat-icon>compare_arrows</mat-icon></button>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="117px" id="workDays">{{ workDays$ | async }} j. travaillés</div>
          <div fxFlex="calc(100%-255px)" fxFlexAlign="start" id="total">{{ total$ | async | duration: totalsFormat }}</div>
          <div fxFlex="145px">h. travaillées</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="117px">{{ mustHours$ | async }} h. demandées</div>
          <div
            fxFlex="calc(100%-255px)"
            fxFlexAlign="start"
            id="overtime"
            *ngIf="overtime$ | async as overtime"
            [class.accent-lighter-color]="overtime.asSeconds() < 0"
          >
            {{ overtime | duration: totalsFormat }}
          </div>
          <div fxFlex="145px">h. supp.</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="117px"></div>
          <div fxFlex="calc(100%-255px)" fxFlexAlign="start" id="finalTotal" class="accent-color">
            {{ finalTotal$ | async | duration: totalsFormat }}
          </div>
          <div fxFlex="145px">avec h. supp. majorées</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
