<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'test')}">
<head>
    <title>Bill</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="correspondant">
    <div>
        <div th:each="info : ${client}" th:text="${info}"/>
    </div>
</div>

<h4 th:text="'Facture du mois de ' + ${month}"/>
<h2 th:text="'Facture ' + ${id}"/>
<div th:text="'n° TVA : ' + ${numeroTVA.value}"/>

<table>
    <thead>
    <tr>
        <th></th>
        <th class="amount">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${duration} + ' heures'"/>
        <td th:text="${amount}" class="amount"/>
    </tr>
    <tr class="divider subtotal">
        <td>Total Hors TVA</td>
        <td th:text="${totalHT}" class="amount"/>
    </tr>
    <tr class="subtotal">
        <td th:text="'TVA ' + ${tva} + '%'" />
        <td th:text="${totalTVA}" class="amount"/>
    </tr>
    <tr class="total">
        <td>Total</td>
        <td th:text="${totalTTC}" class="amount"/>
    </tr>
    </tbody>
</table>

<div>Paiement net à 30 jours auprès de:</div>
<div th:text="'Compte postal ' + ${compte.value} + ' CHF / IBAN ' + ${iban.value}"/>
</body>
</html>