<mat-nav-list>
  <a mat-list-item *ngIf="user$ | async as user" (click)="signOut()">{{ user.email }}<mat-icon>exit_to_app</mat-icon>Logout</a>
  <a mat-list-item *ngIf="!times" color="secondary" (click)="selectFile()">
    Importer
    <mat-icon>attach_file</mat-icon>
  </a>
  <a mat-list-item *ngIf="times" (click)="cancelImport()">Annuler l'import</a>

  <a mat-list-item href="mailto:timbrage@ifocusit.ch">Un problème ? Nous écrire.</a>
</mat-nav-list>
<input #fileSelector type="file" (change)="fileSelected($event)" style="display: none" />
