:host {
  .picker-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 10;

    .picker-toolbar {
      display: flex;
      justify-content: flex-end;
      height: 40px;
    }

    .picker-col {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .picker-columns {
      display: flex;
      justify-content: flex-end;
      height: 180px;

      .picker-col button {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .backdrop {
    z-index: 1;
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
  }

  .readonly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    border-bottom: 1px solid #dedede;

    & > div:first-child {
      cursor: pointer;
      width: 90%;
      line-height: 36px;

      span {
        color: #757575;
        padding-left: 10px;
      }
    }

    /*button {
      width: 30px;
      height: 30px;
      border-radius: 15%;
      line-height: 30px;
    }*/
  }
}
