
@page {
  size: A4;
}

@media print {
  .no-print {
    display: none;
  }

  .content {
    padding: 0;
    height: initial;
  }
}

mat-toolbar {
  margin-bottom: 20px;
}

.content {
  white-space: pre-wrap;
  padding: 15px;
}

.capitalize {
  text-transform: capitalize;
}

table {
  width: 100%;
  padding: 5em 0;

  thead tr th {
    text-align: start;
    border-bottom: solid 0.5px;
    padding-bottom: 10px;
  }
  
  .amount {
    width: 5em;
    max-width: 5em;
    text-align: end;

    mat-form-field {
      width: 5em;
    
      input {
        text-align: end;
      }
    }
  }

  tbody {
    .label mat-form-field {
      width: 100%;
    }
  }

  tfoot {
    font-weight: bold;

    tr:nth-child(1) td {
      border-top-style: solid;
    }

    tr td {
      padding-top: 10px;
      text-align: end;
      
      .amount {
        text-align: start;
      }
    }
  }
}

.header {
  .society {
    img {
      width: 7em;
    }
  }

  .correspondant {
    padding: 7em 0 5em 3em;
  }
}

#add-line {
  position: relative;
  top: -12em;
}

@media screen and (max-width: 599px) {
  .content {
    margin: 10px;
  }
}


:host ::ng-deep mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper { padding: 0 !important; }
:host ::ng-deep mat-form-field.mat-form-field-appearance-legacy .mat-form-field-infix { padding: 0 !important; border-top: 0 !important; }
:host ::ng-deep mat-form-field.mat-form-field-appearance-legacy .mat-form-field-underline { display: none !important; }
