<ng-container *ngIf="bill$ | async as bill">
  <header class="no-print">
    <mat-toolbar>
      <button mat-button [routerLink]="['/month', bill.month]"><mat-icon>arrow_back</mat-icon></button>

      <div fxFlex="calc(100%-140px)">
        Reporting
      </div>
      <button mat-icon-button (click)="print()"><mat-icon>print</mat-icon></button>
      <button mat-icon-button [routerLink]="['/profile']"><mat-icon>person</mat-icon></button>
    </mat-toolbar>
  </header>

  <div class="content">
    <div class="header" fxLayout="row-reverse" fxLayoutAlign="space-between stretch">
      <div class="society">
        <img id="logo" *ngIf="logo$ | async; let url" [src]="url" alt="Logo du projet" />
        <div>{{ bill.society }}</div>
      </div>
      <div class="correspondant">{{ bill.correspondant }}</div>
    </div>

    <h4>
      Facture du mois de <span class="capitalize">{{ bill.month | moment: 'MMMM YYYY' }}</span>
    </h4>
    <h2 class="accent">Facture {{ bill.idFacture }}</h2>
    <div>n° TVA : {{ bill.tvaNumber }}</div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="amount">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ bill.duration.asHours() | number: '2.2-2' }} heures</td>
          <td class="amount">{{ bill.amount | number: '2.2-2' }}</td>
        </tr>
        <tr class="divider subtotal">
          <td>Total Hors TVA</td>
          <td class="amount">{{ bill.totalHT | number: '2.2-2' }}</td>
        </tr>
        <tr class="subtotal">
          <td>TVA {{ tva }}%</td>
          <td class="amount">{{ bill.totalTVA | number: '2.2-2' }}</td>
        </tr>
        <tr class="total">
          <td>Total</td>
          <td class="amount">{{ bill.totalTTC | number: '2.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <button id="add-line" mat-fab class="no-print" aria-label="Ajouter une ligne à la facture"><mat-icon>add</mat-icon></button>

    <div>Paiement net à 30 jours auprès de:</div>
    <div>Compte postal {{ bill.account?.number }} {{ bill.currency }} / IBAN {{ bill.account?.iban }}</div>
  </div>
</ng-container>
