
@page {
  size: A4;
}

@media print {
  .no-print {
    display: none;
  }

  .content {
    padding: 0;
  }
}

mat-toolbar {
  margin-bottom: 20px;
}

.content {
  white-space: pre-wrap;
  padding: 10px;
}

.capitalize {
  text-transform: capitalize;
}

table {
  width: 100%;
  padding: 5em 0;

  thead tr th {
    text-align: start;
    border-bottom: solid 0.5px
  }

  .amount {
    width: 5em;
    text-align: end;
  }

  td {
    padding: 0.5em;
  }

  tr.subtotal, tr.total {
    font-weight: bold;
  }

  tr.subtotal td:nth-child(1), tr.total td:nth-child(1) {
    text-align: end;
  }

  .total td {
    padding-top: 2em;
  }

  .divider td {
    border-top-style: solid;
  }
}

.header {
  .society {
    img {
      width: 7em;
    }
  }

  .correspondant {
    padding: 5em 0 5em 3em;
  }
}

#add-line {
  position: relative;
  top: -14em;
}

@media screen and (max-width: 599px) {
  .content {
    margin: 10px;
  }
}
