mat-card {
  padding: 0;
  border-radius: 0;

  mat-card-header {
    mat-toolbar {
      margin-bottom: 1em;

      button.add {
        top: 30px;
        right: -17px;
      }
    }
  }

  mat-card-actions {
    position: absolute;
    right: 8px;
    top: 60px;
    z-index: 1;

    button {
      margin-right: 8px;
    }
  }

  mat-card-content {
    padding-top: 17px;
    overflow: hidden;

    mat-list {
      min-height: 170px;

      mat-list-item {
        height: 40px;
      }
    }
  }
}

::ng-deep mat-card mat-card-header div.mat-card-header-text {
  margin: 0;
}
