.row {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding-bottom: 2em;
  }

  button, mat-form-field {
    min-width: 80%;
    margin: 5px 0;
  }

  a {
    color: rgb(3, 168, 124);;
  }
}
