<div class="row" *ngIf="signup">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Créer un compte</h2>
      <form [formGroup]="signupForm" (ngSubmit)="submitSignup()">
        <div class="form-group">
          <label for="email">Adresse mail</label>
          <input type="text" id="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" class="form-control" formControlName="password" />
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>

  <div class="row" *ngIf="!signup">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Identification</h2>
      <form [formGroup]="signinForm" (ngSubmit)="submitPasswordSignin()">
        <div class="form-group">
          <label for="email">Adresse mail</label>
          <input type="text" id="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" class="form-control" formControlName="password" />
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Connexion</button>
      </form>
      <button class="btn btn-accent" (click)="googleSignin()"><i class="fa fa-google"></i>Connect Google</button>
      <button class="btn btn-accent" (click)="signup = true"><i class="fa fa-google"></i>Créer un compte</button>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>
  