<mat-card fxLayout="column" class="mat-elevation-z0">
    <mat-card-header fxFlex="60" class="mat-elevation-z1">
        <div id="date">
            <span>{{ now | date: 'd' }}</span>
            <span>{{ now | date: 'EEEE' }}</span>
            <span>{{ now | date: 'MMMM yyyy' }}</span>
        </div>
        <div id="sumDay">
            <div>Total journalier</div>
            <div>{{ sumDay }}</div>
        </div>
        <div id="now">
            {{ now | date: 'HH:mm:ss' }}
        </div>
        <mat-card-actions>
            <button id="add" (click)="addTimbrage()" mat-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content fxFlexFill fxLayout="column">
        <app-time *ngFor="let time of times" [time]="time"></app-time>
    </mat-card-content>
</mat-card>
