mat-card {
  padding: 0;

  mat-card-header {
    height: 9em;
    background-color: #6200EE;
    color: white;
    padding: 2em;
    position: fixed;

  }

  mat-card-content {
    padding-top: 16em;
  }

  mat-card-actions button {
    z-index: 1;
    right: 1em;
    position: fixed;
    top: 16.7em;
  }
}