<div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill class="wrapper">
    <mat-toolbar id="header" color="primary" class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Timbrage</h1>
        <button mat-icon-button (click)="exportMonth()" *ngIf="showExport()">
            <mat-icon>assignment_returned</mat-icon>
        </button>
        <a #export style="display: none">hidden link</a>
    </mat-toolbar>

    <div id="content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <mat-toolbar id="footer">
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks"
               [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
    </mat-toolbar>
</div>
