<mat-toolbar id="header" color="primary" class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="sidenav.toggle()" *ngIf="calendarPage()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 fxFlex="calc(100%-80px)">Timbrage</h1>
    <button mat-icon-button (click)="exportMonth()" *ngIf="calendarPage()">
        <mat-icon>assignment_returned</mat-icon>
    </button>
    <a #export style="display: none">hidden link</a>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" role="navigation">
        <mat-nav-list>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Format de la date" [formControl]="formatFormControl" (change)="setExportFormat()">
                    <mat-error *ngIf="formatFormControl.hasError('required')">Export format is <strong>required</strong></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Importer" disabled>
                    <mat-icon matSuffix color="primary" (click)="selectFile()">attach_file</mat-icon>
                </mat-form-field>
                <button mat-raised-button (click)="cancelImport()" *ngIf="times">Annuler l'import</button>
                <input #fileSelector type="file" (change)="fileChanged($event)" style="display: none">
            </form>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill class="wrapper">

            <div id="content">
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>

            <mat-toolbar id="footer">
                <nav mat-tab-nav-bar>
                    <a mat-tab-link *ngFor="let link of navLinks" (click)="sidenav.close()"
                       [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}</a>
                </nav>
            </mat-toolbar>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>