<mat-card fxLayout="column" class="mat-elevation-z0">
    <mat-card-header fxFlex="60" class="mat-elevation-z1">
        <div>
            <div class="month" fxLayout="row" fxLayoutAlign="space-around center">
                <div class="prev" (click)="changeMonth(-1)" fxFlex="0 1 20px">&#10094;</div>
                <div>{{selected.format('MMMM')}}<span class="year" fxFlex="4 1 auto">{{selected.format('YYYY')}}</span></div>
                <div class="next" (click)="changeMonth(+1)" fxFlex="0 1 20px">&#10095;</div>
            </div>

            <div class="weekdays" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div *ngFor="let weekDay of weekDays" fxFlex="13.6" fxLayoutAlign="center">{{weekDay}}</div>
            </div>

            <div class="days" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div *ngFor="let day of days" fxFlex="13.6" fxLayoutAlign="center">
                    <span *ngIf="selected.month() === day.month(); else readOnly"
                          [class.active]="selected.format('YYYYMMDD') === day.format('YYYYMMDD')"
                          (click)="select(day)">{{day.date()}}</span>
                    <ng-template #readOnly><span class="inactive">{{day.date()}}</span></ng-template>
                </div>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content fxFlexFill fxLayout="column">
        <ng-container *ngIf="(loading$ | async) === true;else timeList">
            <div>Loading</div>
        </ng-container>
        <ng-template #timeList>
            <div id="sumDay" fxFlex="row" fxLayoutAlign="start center">
                <span>{{ sumDay$ | async }}</span>
            </div>
            <app-time *ngFor="let time of (times$ | async)" [model]="time"></app-time>
        </ng-template>
        <mat-card-actions>
            <button id="add" (click)="addTimbrage()" mat-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
