:host {
  mat-card {
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;

    mat-card-header {

      & > div {
        width: 100%;
      }

      /* Month header */
      .month {
        background-color: #606fc7;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;

        .year {
          padding-left: 10px;
        }
      }

      /* Weekdays (Mon-Sun) */
      .weekdays {
        background-color: #ddd;
      }

      .weekdays > * {
        color: #666;
        padding: 5px;
      }

      .prev, .next {
        cursor: pointer;
      }

      /* Days (1-31) */
      .days {
        background: #eee;

        & > div {
          margin-bottom: 5px;
          font-size: 12px;
          color: gray;
          padding: 5px;
          cursor: pointer;

          &.with-times {
            background-color: #E1BEE7;
            color: white;
          }

          &.active {
            background: #606fc7;
            color: white;
          }

          &.inactive {
            color: lightgray;
            cursor: default;
          }
        }
      }
    }

    mat-card-actions {
      position: fixed;
      right: 20px;
      top: 258px;
    }
  }

  mat-card-content {
    #sumDay {
      min-height: 2em;
      font-weight: 700;
      font-size: 2em;
      padding: 10px;
      border-bottom: 1px solid #dedede;
      position: fixed;
      top: 256px;
      background-color: white;
      width: 100%;
      z-index: 1;
    }

    #times {
      padding-top: 20px;
    }

    app-time {
      margin: 0 15px;
    }
  }
}

::ng-deep mat-card mat-card-header div.mat-card-header-text {
  margin: 0;
}
