<mat-card class="mat-elevation-z0" *ngIf="selectedDate$ | async as selectedDate">
  <mat-card-header fxLayout="column" (swipeleft)="changeMonth(+1)" (swiperight)="changeMonth(-1)">
    <div id="calendar">
      <div class="month" fxLayoutAlign="space-around center">
        <div class="prev" (click)="changeMonth(-1)" fxFlex="0 1 20px">&#10094;</div>
        <div class="date">{{ selectedDate | moment: 'MMMM YYYY' }}</div>
        <div class="next" (click)="changeMonth(+1)" fxFlex="0 1 20px">&#10095;</div>
      </div>

      <div class="weekdays" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div *ngFor="let weekDay of weekDays" fxFlex="13.6" fxLayoutAlign="center">{{ weekDay }}</div>
      </div>

      <div class="days" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <ng-container *ngFor="let day of days$ | async">
          <div
            *ngIf="selectedDate.month() === day.date.month(); else readOnly"
            [class.active]="selectedDate.format('YYYYMMDD') === day.date.format('YYYYMMDD')"
            [class.with-times]="day.hasTimes"
            (click)="select(day.date)"
            fxFlex="13.6"
            fxLayoutAlign="center"
          >
            {{ day.date.date() }}
          </div>
          <ng-template #readOnly>
            <div class="inactive" fxFlex="13.6" fxLayoutAlign="center">{{ day.date.date() }}</div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <div id="sumDay" fxLayoutAlign="space-between center">
      <span>{{ sumDay$ | async | duration }}</span>
      <button id="add" (click)="addTimbrage()" mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="scrollbar">
    <app-time *ngFor="let time of times$ | async; let odd = odd" [model]="time" [odd]="odd"></app-time>
  </mat-card-content>
</mat-card>
